.example {
    font-family: "Open Sans", "Arial", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: italic;
    font-variation-settings:
        "wdth" 100;
    font-size: 20px;
    line-height: 30px
}

.example-1 {
    font-family: serif;
    font-weight: 400;
    text-decoration: line-through;
}

.example-2 {
    font-family: "Playfair Display", "Times New Roman" serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
}

.example-3 {
    font-family: serif;
    word-spacing: 30px;
    text-decoration: underline;
    text-decoration-style: wavy;
}

.example-4 {
    font-family: serif;
    letter-spacing: 5px;
    text-decoration: underline;
    text-decoration-style: double;
}